<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-Look</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body> 
  <header>
    <div class="main">
        <div class="logo">
            <img src="../static/logo.jpg">
        </div>
        <ul>
            <li class="active"><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('signup')}}">Signup</a></li>
        </ul>
    </div>
    <div class="title">
        <h1>BLOG-LOOK</h1>
        <h3>Blogging is not rocket science. It's about being yourself and putting what you have into it.</h3>
    </div>

    <div class="button">
        <a href="{{url_for('login')}}" class="btn">Login</a>
        <a href="{{url_for('signup')}}" class="btn">Signup</a>
    </div>
</header>       

</body>
</html>